.spiderMan-box {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -20vh;
  transition: transform 4s linear;
  cursor: pointer;
  z-index: 100;
}

.move {
  transform: translateY(120vh);
}
