.spiderMan-box {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -20vh;
  transition: transform 4s linear;
  cursor: pointer;
  z-index: 100;
}

.move {
  transform: translateY(120vh);
}

.move-wind-left {
  transform: translate(40vw, 120vh);
}

.move-wind-right {
  transform: translate(-40vw, 120vh);
}

.box__title {
  font-size: 4em;
  margin: 0;
  color: rgba(23, 5, 67, 0.72);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
